.Projects {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 50px;

    .Projects__headingText {
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 16px;
        user-select: none;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--brand-color);
        }
    }

    .Projects__container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        .Projects__content {
            width: 300px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-radius: 4px;

            .Projects__imgContainer {
                padding: 4px;

                .Projects__img {
                    width: 100%;
                }
            }

            .Projects__titleBox {
                margin-top: 8px;
                user-select: none;
            }

            .Projects__desc {
                margin-top: 8px;
                padding-left: 16px;
                align-self: flex-start;

                .Projects__descText {
                    margin-top: 2px;
                    user-select: none;
                    padding-bottom: 4px;
                }
            }

            .Projects__navigation {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 16px;
                margin-block: 8px;

                .Projects__btn--open {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    .Projects__iconBox {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-block: 4px;

                        .icon {
                            color: var(--text-white);
                            transition: color 0.3s ease-in-out;
                        }

                    }

                    .Projects__btnText {
                        font-size: 0.6rem;
                        color: var(--text-white);
                        transition: color 0.3s ease-in-out;
                    }

                    .link:active,
                    .link:focus {
                        color: var(--text-white);
                    }

                    &:hover {
                        .Projects__iconBox {
                            .icon {
                                color: var(--brand-color);
                            }
                        }

                        p {
                            color: var(--brand-color);
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 576px) {

        .Projects__container {
            flex-direction: column;

            .Projects__content {
                width: 100%;
                height: max-content;
            }
        }
    }
}