.Projects {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 50px;

    .Projects__headingText {
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 16px;
        user-select: none;
    }

    .Projects__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 16px;

        .Projects__content {
            width: 32%;
            background-color: #edf2f4;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 4px;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

            &:hover {
                box-shadow: 1px 1px 20px rgba(33, 37, 40, 0.3);
                transform: scale(1.005);
            }

            .Projects__imgContainer {
                padding: 4px;

                .Projects__img {
                    width: 100%;
                }
            }

            .Projects__titleBox {
                margin-top: 8px;
                user-select: none;
            }

            .Projects__desc {
                margin-top: 8px;

                .Projects__descText {
                    margin-top: 2px;
                    user-select: none;
                }
            }

            .Projects__navigation {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 16px;
                margin-block: 8px;

                .Projects__btn--open {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    .Projects__iconBox {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-block: 4px;

                        .icon {
                            color: var(--text-white);
                            transition: color 0.3s ease-in-out;
                        }

                    }

                    .Projects__link {
                        text-decoration: none;

                        .Projects__btnText {
                            font-size: 0.6rem;
                            color: var(--text-white);
                            transition: color 0.3s ease-in-out;
                        }
                    }

                    .link:active,
                    .link:focus {
                        color: var(--text-white);
                    }

                    &:hover {
                        .icon-box {
                            .icon {
                                color: var(--brand-color);
                            }
                        }

                        .link {
                            p {
                                color: var(--brand-color);
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 576px) {

        .Projects__container {
            flex-direction: column;

            .Projects__content {
                width: 100%;
            }
        }
    }
}