.Skills {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .Skills__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;

        .Skills__headingText {
            letter-spacing: 1px;
            user-select: none;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: var(--brand-color);
            }
        }

        .Skills__technicalContent {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .Skills__box {
                width: 24%;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 10px 10px;
                border-radius: 4px;
                background-color: #edf2f4;
                transition: transform 0.3s ease-in-out;
                overflow: hidden;

                &::before {
                    content: "";
                    width: 100%;
                    height: 0;
                    background-color: rgba(0, 0, 0, 0.1);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: height 0.3s ease-in-out
                }

                &:hover {
                    box-shadow: 1px 1px 20px rgba(33, 37, 40, 0.3);
                    transform: scale(1.01);

                    &::before {
                        height: 100%;
                    }

                    .Skills__icon {
                        color: var(--brand-color);
                    }
                }

                .Skills__icon {
                    font-size: 2rem;
                    transition: color 0.3s ease-in-out
                }

                .Skills__details {
                    .Skills__nameText {
                        letter-spacing: 1px;
                        padding-block: 0.5rem;
                    }

                    .Skills__descText {
                        user-select: none;
                    }
                }
            }
        }
    }

    .devProficiency {
        background-color: #edf2f4;
        display: flex;
        flex-direction: column;
        border-radius: 4px;

        .devProficiency__headingText {
            letter-spacing: 1px;
            margin: 8px 0 8px 8px;
            font-weight: 500;
            user-select: none;
        }

        .devProficiency__box {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 2rem;
            padding-block: 12px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            &:hover::before {
                opacity: 1;
            }

            &:hover {
                .devProficiency__icon {
                    color: var(--brand-color);
                }
            }

            .devProficiency__iconBox {
                padding: 8px 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 0.6px;
                    height: 90%;
                    background-color: #495057;
                    filter: blur(0.5px);
                    transform: translate(-50%, -50%);
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                }

                .devProficiency__icon {
                    font-size: 1.5rem;
                    transition: color 0.3s ease-in-out;
                }
            }
        }
    }

    @media only screen and (max-width: 576px) {
        .Skills__container {
            .Skills__technicalContent {
                flex-direction: column;

                .Skills__box {
                    width: 100%;
                }

            }
        }

        .devProficiency {
            .devProficiency__box {
                gap: 4px;

                .devProficiency__iconBox {
                    padding: 4 8px;

                    &::after {
                        display: none;
                    }

                    .devProficiency__icon {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}