.Navbar {
    width: 100vw;
    background-color: var(--primary-color);
    padding-inline: 20px;
    position: fixed;
    left: 0;
    z-index: 1000;

    .Navbar__container {
        width: 100%;
        display: flex;
        align-items: center;
        padding-block: 8px;
        position: relative;

        .Navbar__brandSection {
            width: 50%;

            .Navbar__brandBox {
                .name {
                    font-size: 1rem;
                    font-weight: 700;
                    color: var(--text-white);
                    letter-spacing: 1px;
                    user-select: none;
                    cursor: pointer;

                    span {
                        color: var(--brand-color);
                    }
                }
            }
        }

        .Navbar__navigationSection--open {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            width: 50%;

            .Navbar__navigationContainer {
                .Navbar__list {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    .Navbar__item {
                        color: var(--background-color);
                        letter-spacing: 1px;
                        cursor: pointer;
                        user-select: none;
                        transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out, border-bottom 0.2s ease-in-out;

                    }

                    li:hover {
                        color: var(--brand-color);
                        text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
                        border-bottom: 1px solid var(--background-color);
                    }
                }
            }
        }

        .Navbar__navigationSection--close {
            display: none;
        }

        .Navbar__btn--browse {
            background-color: var(--background-color);
            border-radius: 15px;
            cursor: pointer;

            box-shadow: 2px 2px 20px 1px rgba(255, 255, 255, 0.45);
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: #DEE2E6;
            }

            &:active {
                background-color: var(--background-color);
            }

            .Navbar__btn--Link {
                display: block;
                width: 100%;
                height: 100%;
                padding: 4px 12px;
                border-radius: 15px;
                text-decoration: none;

                .Navbar__btnText {
                    font-size: 0.6rem;
                    letter-spacing: 1px;
                    color: var(--text-color);
                }
            }
        }

        .toggler {
            color: var(--background-color);
            padding: 8px;
            cursor: pointer;
            position: absolute;
            top: 2px;
            right: 0;
            display: none;
            z-index: 1000;
        }
    }

    @media only screen and (max-width: 576px) {
        .Navbar__container {
            flex-direction: column;
            justify-content: center;

            .Navbar__brandSection {
                align-self: flex-start;
            }

            .Navbar__navigationSection--open {

                justify-content: center;

                .Navbar__navigationContainer {
                    margin-top: 8px;

                    .Navbar__list {
                        flex-direction: column;
                        row-gap: 10px;
                    }
                }

                .Navbar__btn--browse {
                    display: none;
                }
            }

            .toggler {
                display: block;
            }
        }

    }

    @media only screen and (max-width: 576px) {
        .Navbar__container {
            .Navbar__brandSection {
                width: 100%;
            }
        }
    }
}