.ContactInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 30px 30px 30px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;

    .contactInfo-wrap {
        margin-inline: auto;
        width: 75%;

        .navigation {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 16px;

            .nav-links {
                padding-block: 8px;
                width: 100%;
                border-bottom: 1px solid var(--border-color);

                ul {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 10px;

                    li {
                        cursor: pointer;

                        p {
                            color: var(--text-white);
                            letter-spacing: 1px;
                            user-select: none;
                            transition: color 0.3s ease-in-out, text-shadow 0.2s ease-in-out;

                            &:hover {
                                color: var(--brand-color);
                                text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
                            }
                        }

                    }
                }
            }
        }

        .footer-section {
            display: flex;
            justify-content: center;

            .contact-section {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 100px;

                .contactInfo {
                    flex: 1;

                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        row-gap: 16px;

                        li {
                            display: flex;
                            column-gap: 10px;
                            cursor: pointer;

                            a {
                                display: flex;
                                column-gap: 10px;
                                text-decoration: none;

                                .icon {
                                    color: var(--text-white);
                                    transition: 0.3s ease-in-out;
                                }

                                p {
                                    color: var(--text-white);
                                    transition: 0.3s ease-in-out;
                                }
                            }

                            &:hover {
                                .icon {
                                    color: var(--brand-color);
                                }

                                p {
                                    color: var(--brand-color);
                                }
                            }
                        }
                    }
                }

                .social-connect {
                    flex: 2;
                    width: 32%;

                    .about-me {
                        user-select: none;

                        .about-me-heading {
                            letter-spacing: 1px;
                            color: var(--text-white);
                            margin-bottom: 8px;
                        }

                        .about-me-text {
                            color: var(--text-white);
                            line-height: 20px;
                            margin-top: 8px;
                        }
                    }

                    .social-media {
                        margin-top: 16px;

                        ul {
                            list-style: none;
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            li {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                background-color: var(--accent-color);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;

                                transition: background-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;

                                a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    .icon {
                                        color: var(--text-white);
                                        transition: background-color 0.3s ease-in-out;

                                    }
                                }

                                &:hover {
                                    background-color: #6C757D;
                                    box-shadow: 2px 2px 20px 1px rgba(108, 117, 125, 0.6);

                                    .icon {
                                        color: var(--brand-color);
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    .download-resume {
        position: absolute;
        bottom: 10px;
        right: 10px;
        position: fixed;
        display: none;

        a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;

            .download-icon {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--background-color);
                box-shadow: 2px 2px 15px 0.5px rgba(0, 0, 0, 0.6);

                .icon {
                    color: var(--primary-color);
                    transition: color 0.3s ease-in-out;

                    &:hover {
                        color: var(--brand-color);
                    }
                }
            }
        }

        p {
            font-size: 0.5rem;
            letter-spacing: 1px;
            color: #b91c1c;
        }
    }

    @media only screen and (max-width: 576px) {

        .contactInfo-wrap {
            width: 100%;

            .navigation {
                .nav-links {
                    li {
                        p {
                            font-size: 0.5rem;
                        }
                    }
                }
            }

            .footer-section {
                .contact-section {
                    flex-direction: column;
                    row-gap: 20px;

                    .social-connect {
                        width: 100%;
                    }

                    .social-media {
                        ul {
                            justify-content: center;
                        }
                    }
                }
            }

        }

        .download-resume {
            display: block;
        }
    }
}