.ContactInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 30px 30px 30px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;

    .ContactInfo__container {
        margin-inline: auto;
        width: 75%;

        .mainNavigation {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 16px;
            padding-block: 8px;
            padding-block: 8px;
            width: 100%;
            padding-block: 8px;
            width: 100%;
            border-bottom: 1px solid var(--border-color);

            .mainNavigation__list {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 10px;

                .mainNavigation__item {
                    cursor: pointer;

                    p {
                        color: var(--text-white);
                        letter-spacing: 1px;
                        user-select: none;
                        transition: color 0.3s ease-in-out, text-shadow 0.2s ease-in-out;

                        &:hover {
                            color: var(--brand-color);
                            text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
                        }
                    }

                }
            }
        }

        .socialConnect {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 16px;

            .footerNavigation {
                flex: 1;

                .footerNavigation__list {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 16px;

                    .footerNavigation__item {
                        display: flex;
                        column-gap: 10px;
                        cursor: pointer;

                        .footerNavigation__link {
                            display: flex;
                            column-gap: 10px;
                            text-decoration: none;

                            .icon {
                                color: var(--text-white);
                                transition: 0.3s ease-in-out;
                            }

                            p {
                                color: var(--text-white);
                                transition: 0.3s ease-in-out;
                            }
                        }

                        &:hover {
                            .icon {
                                color: var(--brand-color);
                            }

                            p {
                                color: var(--brand-color);
                            }
                        }
                    }
                }
            }

            .innerSocialConnect {
                flex: 2;

                .socialConnect__aboutMe {
                    user-select: none;

                    .socialConnect__aboutMe__headingText {
                        letter-spacing: 1px;
                        color: var(--text-white);
                        margin-bottom: 8px;
                    }

                    .socialConnect__aboutMe__text {
                        color: var(--text-white);
                        line-height: 20px;
                        margin-top: 8px;
                    }
                }

                .socialConnect__socialMedia {
                    margin-top: 16px;

                    .socialConnect__mediaList {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .socialConnect__mediaItem {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            background-color: var(--accent-color);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            transition: background-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;

                            .socialConnect__mediaLinks {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .icon {
                                    color: var(--text-white);
                                    transition: background-color 0.3s ease-in-out;

                                }
                            }

                            &:hover {
                                box-shadow: 2px 2px 20px 1px rgba(108, 117, 125, 0.6);

                                .icon {
                                    color: var(--brand-color);
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .ContactInfo__btn--browse {
        position: fixed;
        bottom: 8px;
        right: 8px;
        // background-color: var(--background-color);
        border-radius: 15px;
        cursor: pointer;

        // box-shadow: 2px 2px 20px 1px rgba(255, 255, 255, 0.45);
        transition: background-color 0.2s ease-in-out;

        .ContactInfo__btn--Link {
            display: block;
            width: 100%;
            height: 100%;
            padding: 4px 12px;
            border-radius: 15px;
            text-decoration: none;
            text-align: center;

            .browseBtn-icon {
                color: var(--brand-color);
            }

            .ContactInfo__btnText {
                font-size: 0.6rem;
                letter-spacing: 1px;
                color: #b91c1c;
            }
        }
    }

    // .download-resume {
    //     position: absolute;
    //     bottom: 10px;
    //     right: 10px;
    //     position: fixed;
    //     display: none;

    //     a {
    //         display: block;
    //         width: 100%;
    //         height: 100%;
    //         text-decoration: none;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;

    //         .download-icon {
    //             width: 25px;
    //             height: 25px;
    //             border-radius: 50%;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             background-color: var(--background-color);
    //             box-shadow: 2px 2px 15px 0.5px rgba(0, 0, 0, 0.6);

    //             .icon {
    //                 color: var(--primary-color);
    //                 transition: color 0.3s ease-in-out;

    //                 &:hover {
    //                     color: var(--brand-color);
    //                 }
    //             }
    //         }
    //     }

    //     p {
    //         font-size: 0.5rem;
    //         letter-spacing: 1px;
    //         color: #b91c1c;
    //     }
    // }

    @media only screen and (max-width: 576px) {

        .ContactInfo__container {
            width: 100%;

            .mainNavigation {

                .mainNavigation__list {
                    .mainNavigation__item {
                        p {
                            font-size: 0.5rem;
                        }
                    }
                }
            }

            .socialConnect {
                flex-direction: column;
                row-gap: 20px;


                .innerSocialConnect {
                    .socialConnect__aboutMe {
                        width: 100%;
                    }

                    .socialConnect__socialMedia {
                        display: flex;
                        justify-content: center;
                    }
                }

                .social-media {
                    ul {
                        justify-content: center;
                    }
                }
            }
        }

        .download-resume {
            display: block;
        }
    }
}