.Experience {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 20px;

    .experience-heading {
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 16px;
        user-select: none;
    }

    .experience-container {
        width: 100%;

        .company {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 2px;

            .company-title {
                display: flex;
                align-items: center;
                gap: 8px;

                .company-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .company-name {
                    margin-block: 8px;
                    user-select: none;
                }
            }

            .job-title {
                width: 40%;
                padding: 8px;
                display: flex;
                align-items: center;
                gap: 8px;
                background: linear-gradient(to right, rgba(108, 117, 125, .1), transparent 60%);
                margin-left: 16px;
                user-select: none;

                .job-title-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .job-profile {
                    font-weight: 600;
                }
            }

            .job-summary {
                margin-left: 50px;
            }

            .job-desc-heading {
                margin-left: 16px;
                font-weight: bold;
            }

            .job-desc {
                margin-left: 50px;
                padding-bottom: 8px;

                li {
                    padding-block: 2px;
                }
            }

            .bottom-summary {
                margin-top: 8px;
                margin-left: 50px;
            }
        }

        .horizontal-roll {
            width: 80%;
            margin: 8px auto;

        }
    }

    @media only screen and (max-width: 576px) {

        .experience-container {
            .company {
                .job-title {
                    width: 100%;
                    margin-left: 0;
                }

                .job-summary,
                .job-desc-heading {
                    margin-left: 8px;
                }

                .job-desc {
                    margin-left: 20px;
                }

                .bottom-summary {
                    margin-left: 8px;
                }
            }
        }
    }
}