.Experience {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 20px;

    .experience-heading {
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 16px;
    }

    .experience-container {
        width: 100%;

        .company {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 2px;

            .company-title {
                display: flex;
                align-items: center;
                gap: 8px;

                .company-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .company-name {
                    margin-block: 8px;
                }
            }

            .job-title {
                display: flex;
                align-items: center;
                gap: 8px;

                .job-title-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                // .job-profile {}
            }

            .job-summary {
                margin-left: 50px;
            }

            .job-desc-heading {
                font-weight: bold;
            }

            .job-desc {
                margin-left: 50px;
                padding-bottom: 8px;

                li {
                    padding-block: 2px;
                }
            }

            .bottom-summary {
                margin-left: 50px;
            }
        }

        .horizontal-roll {
            width: 80%;
            // margin-inline: auto;
            margin: 8px auto;

        }
    }
}