.App {
    width: 100vw;
    /* background-color: #E9ECEF; */
    /* background-color: #F8F9FA; */
    /* background-color: #212529; */
    background-color: #ffffff;
    /* background-color: #edf2f4; */
}

.Portfolio {
    margin-inline: auto;
}