* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--brand-color: #00A9FF;
	--primary-color: #212529;
	/* Main brand color */
	--secondary-color: #343A40;
	/* Secondary color */
	--accent-color: #495057;
	/* Accent color */
	--background-color: #ffffff;
	/* Background color */
	--text-color: #3A3A47;
	/* Main text color */
	--text-white: #ffffff;
	--border-color: #CCCCCC;
	/* Border color */
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	overflow-x: hidden;
	/* Hide the horizontal scrollbar */
}

body::-webkit-scrollbar {
	width: 10px;
	/* Set the width of the vertical scrollbar */
}

body::-webkit-scrollbar-thumb {
	width: 8px;
	border-radius: 8px;
	background-color: #888;
	/* Set the background color of the scrollbar thumb */
}

body::-webkit-scrollbar:hover {
	width: 10px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: var(--accent-color);
}

body::-webkit-scrollbar-thumb:active {
	background-color: var(--secondary-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

p,
li {
	color: var(--text-color);
	font-size: 0.7rem;
	line-height: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-color);
	font-weight: normal;
}

hr {
	background-color: #495057;
	filter: blur(0.5px);
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	font-size: 1rem;
	color: var(--primary-color);
}

.icon:hover {
	color: var(--accent-color);
}

.btn-primary {
	padding: 2px 16px;
	background-color: var(--accent-color);
	border-radius: 20px;
	letter-spacing: 1px;
	cursor: pointer;
}

.btn-primary:hover {
	background-color: var(--secondary-color);
}

.btn-primary:active {
	background-color: var(--accent-color);
}