.AboutMe {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;

    .AboutMe__headingText {
        letter-spacing: 1px;
        margin-bottom: 16px;
        user-select: none;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--brand-color);
        }
    }

    .AboutMe__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        .profile-img {
            img {
                width: 100%;
                height: 100%;
            }
        }

        .AboutMe__details {
            text-align: left;

            .AboutMe__text {
                padding-bottom: 8px;
            }
        }
    }

    @media only screen and (max-width: 576px) {

        .AboutMe__content {
            flex-direction: column;
        }

    }
}