.AboutMe {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;

    .AboutMe__heading {
        letter-spacing: 1px;
        user-select: none;
    }

    .AboutMe__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        .profile-img {
            img {
                width: 100%;
                height: 100%;
            }
        }

        .AboutMe__details {
            text-align: left;

            .AboutMe__text {
                padding-bottom: 8px;
            }
        }
    }

    @media only screen and (max-width: 576px) {

        .about-me-container {
            flex-direction: column;
        }

    }
}